PORT=3000
ALLOWED_ORIGIN=http://example.com

JWT_SECRET=your-secret-key-at-least-32-characters-long
JWT_EXPIRES_IN=1h
BCRYPT_SALT_ROUNDS=1

TYPEORM_HOST=localhost
TYPEORM_PORT=3306
TYPEORM_USERNAME=your_username
TYPEORM_PASSWORD=your_password
TYPEORM_DATABASE=roomly_booking
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=false